.hero-section {
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center -200px;
  display: flex;
  align-items: flex-end;
  padding-left: 120px;
  padding-bottom: 50px;
  position: relative;
}

.hero-content h2 {
  color: whitesmoke;
  font-size: 25px;
  margin-bottom: 10px;
}

.hero-content h1 {
  color: whitesmoke;
  font-size: 45px;
  font-weight: 500;
  max-width: 1000px;
}
